header {
    background: linear-gradient(90deg, var(--header-pink-color), var(--header-blue-color));
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 35%;
}
