@import url(./vars.css);

/* component styles */
@import url(./header.css);
@import url(./nav.css);
@import url(./main-heading.css);
@import url(./main-content.css);
@import url(./main-form.css);
@import url(./results.css);
@import url(./footer.css);

/* global style */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    margin: auto;
}
