@import url(./vars.css);

/* component styles */
@import url(./header.css);
@import url(./nav.css);
@import url(./main-heading.css);

/* global style */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
}
