nav {
    position: sticky;
    top: 0;
}

.main-nav {
    display: flex;
    list-style: none;
    padding: 0px;
}

.main-nav__item {
    height: 50px;
    width: 33.3%;
    border: solid 1px var(--border-color);
    border-bottom: none;
    align-content: center;
    background-color: var(--button-color);
}

.current {
    background-color: var(--bg-color);
}

.main-nav__link {
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 2em;
    color: var(--text-color);
    font-family: var(--font-family-header);
}
