@import url(./vars.css);
@import url(./header.css);
@import url(./navbar.css);
@import url(./bannerimage.css);
@import url(./content.css);
@import url(./table.css);
@import url(./footer.css);

/* global style */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    padding: 0px 15px;
    background-color: var(--bg-color);
}
