@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-color: #000000;
    --bg-color: #c7c6c6;
    --button-color: #b3b3b3;
    --border-color: #8d8d8d;

    --font-family-header: 'Roboto', sans-serif;

    --font-family-body: 'Roboto', sans-serif;
}
