@import url(./vars.css);

/* component styles */
@import url(./header.css);
@import url(./nav.css);
@import url(./section.css);

/* global style */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    width: 75%;
    margin: auto;
}
