@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #ffff00;
    --background-color-section: #ffffff;
    --border-color: #000000;

    --text-color-light: #ffff00;
    --text-color-dark: #000000;

    --font-family-heading: 'Roboto', sans-serif;
    --font-family-body: 'Roboto', sans-serif;
    --font-size-heading: 30px;
    --font-size-subheading: 25px;
    --font-size-body: 20px;
    --font-size-smaller: 15px;
    --text-body-weight: 300;
    --text-bold-weight: 500;
    --text-heading-weight: 700;

    --border-regular: 10px solid var(--border-color);
    --border-thick: 15px solid var(--border-color);
}
